@media (max-width: 1200px) {
  .banner-section__inner {
    justify-content: space-around;
  }
  .banner-section__slider {
    max-width: 600px;
  }
  .banner-section__slider-img {
    object-fit: cover;
    min-height: 383px;
    max-width: 600px;
  }
}

@media (max-width: 1100px) {
  .menu__item + .menu__item {
    padding-left: 20px;
  }
  .header__adress {
    margin-right: 20px;
  }
}
@media (max-width: 968px) {
  .header__bootom {
    display: none;
  }
  .menu__list {
    display: none;
  }
  .menu__mobile-linewrapper {
    display: block;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    color: #2f3035;
    background-color: #f0f0f4;
    padding: 14px 0 14px 15px;
    overflow-x: auto;
  }
  .menu__mobile-line {
    width: 450px;
    margin: 0 auto;
  }
  .menu__btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
  }
  .menu__btn-line {
    background-color: #2f3035;
    height: 3px;
    border-radius: 3px;
    width: 34px;
    margin: 8px 0;
  }
  .banner-section__inner {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner-section__slider-item{
    text-align: center;
  }
  .banner-section__inner .slick-slide img {
    vertical-align: top;
  }
  .banner-section__slider {
    max-width: 100%;
  }
  .banner-section__slider-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  .banner-section__slider-btn{
    display: none;
  }
}
@media (max-width: 640px) {
  .header__adress {
    display: none;
  }
   .banner-section__slider-img {
    min-height: 200px;
  }
  .banner-section .container{
    padding: 0;
  }
}
@media (max-width: 440px) {
     .banner-section__slider-img {
    min-height: 165px;
  }
}
