@media (max-width: 1300px) {
  .product__more {
    margin-top: 20px;
  }
  .product-slider .slick-dots {
    bottom: -30px;
  }
  .product-slider .slick-dots button {
    background-color: #c4c4c4;
  }
  .product-slider .slick-dots .slick-active button {
    background-color: #1c62cd;
  }
  .products__content {
    padding-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .banner-section__inner {
    justify-content: space-around;
  }
  .banner-section__slider {
    max-width: 600px;
  }
  .banner-section__slider-img {
    object-fit: cover;
    min-height: 383px;
    max-width: 600px;
  }
  .categories__inner {
    justify-content: space-around;
  }
  .product-slider {
    max-width: 1020px;
    margin: 0 auto;
  }
  .banner__link img {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .menu__item + .menu__item {
    padding-left: 20px;
  }
  .header__adress {
    margin-right: 20px;
  }
}
@media (max-width: 968px) {
  .header__bootom {
    display: none;
  }
  .menu__list {
    display: none;
  }
  .menu__mobile-linewrapper {
    display: block;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    color: #2f3035;
    background-color: #f0f0f4;
    padding: 14px 0 14px 15px;
    overflow-x: auto;
  }
  .menu__mobile-line {
    width: 450px;
    margin: 0 auto;
  }
  .menu__btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
  }
  .menu__btn-line {
    background-color: #2f3035;
    height: 3px;
    border-radius: 3px;
    width: 34px;
    margin: 8px 0;
  }
  .banner-section__inner {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner-section__slider-item {
    text-align: center;
  }
  .banner-section__inner .slick-slide img {
    vertical-align: top;
  }
  .banner-section__slider {
    max-width: 100%;
  }
  .banner-section__slider-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  .banner-section__slider-btn {
    display: none;
  }
  .mobile-overflow {
    width: 1000px;
  }
  .tabs-wrapper {
    overflow-x: auto;
  }
  .footer__top-inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__top-item {
    margin-bottom: 25px;
  }
}

@media (max-width: 870px) {
  .product-slider {
    max-width: 600px;
  }
}
@media (max-width: 640px) {
  .header__adress {
    display: none;
  }
  .banner-section__slider-img {
    min-height: 200px;
  }
  .banner-section .container {
    padding: 0;
  }
  .search__content-btn {
    font-size: 0;
    line-height: 0;
    padding: 17px;
    background-image: url(../images/search-main-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .search__content-input {
    height: 50px;
    padding: 15px 60px 15px 20px;
  }
  .search__content-form {
    position: relative;
  }
  .banner__link img {
    min-height: 90px;
    object-fit: contain;
  }
  .page-section {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .product-slider {
    max-width: 280px;
  }
  .footer__top-item {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 0;
    /* border-bottom: 1px solid #c4c4c4; */
  }
  .footer-form__input {
    width: 100%;
  }
  .footer__top-newslatter {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer .social-list {
    justify-content: center;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: start;
  }
  .footer__bottom-link {
    margin-bottom: 10px;
  }
  .footer__top-social {
    padding-top: 70px;
  }
  .footer__top-item:not(:first-child) {
    border-top: 2px solid #e4e1e1;
    font-size: 14px;
    line-height: 18px;
    color: #7f7f7f;
  }
  .footer__top-item:not(:first-child) .footer__top-title {
    cursor: pointer;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 20px 20px;
  }
  .footer__top-item:not(:first-child) .footer__top-title.active {
    background-image: url(../images/arrow-top.svg);
  }
  .footer__top-item:first-child .footer__top-title {
    text-align: center;
  }
  .footer-list {
    display: none;
    color: #2f3035;
    padding-top: 10px;
  }
}
@media (max-width: 540px) {
}
@media (max-width: 440px) {
  .banner-section__slider-img {
    min-height: 165px;
  }
}



