html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
body {
  font-family: "SFProDisplay-Regular", sans-serif;
  color: #2f3035;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --accent-color: #1c62cd;
}

/* ==== header ==== */

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}
.menu__item {
  display: inline-block;
}
.menu__item + .menu__item {
  padding-left: 50px;
}
.header__box {
  display: flex;
}
.header__adress {
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
  position: relative;
}
.header__adress::before {
  content: "";
  position: absolute;
  background-image: url(../images/adress-icon.svg);
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
}
.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.user-list__item {
  padding-right: 10px;
}
.cart {
  position: relative;
}
.cart__num {
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: var(--accent-color);
  border-radius: 50%;
  font-weight: 500;
  font-family: "SFProDisplay-Medium";
  text-align: center;
  bottom: -2px;
  right: -14px;
}
.header__bootom,
.page-section {
  margin-bottom: 80px;
}
.menu-categories {
  background-color: #f0f0f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;
}
.menu-categories__item {
  position: relative;
}
.menu-categories__link {
  transition: all 0.3s ease-in-out;
  padding: 15px 0 14px;
  position: relative;
}
.menu-categories__link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  bottom: -2px;
  right: 0;
  background-color: var(--accent-color);
  height: 3px;
  transition: all 0.3s;
}
.menu-categories__link:hover {
  color: #000;
}
.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

/* ==== banner-section ==== */

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}
.banner-section__slider {
  max-width: 870px;
}
.banner-section__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
}
.banner-section__slider-btnprev {
  left: 20px;
}
.banner-section__slider-btnnext {
  right: 20px;
}
.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}
.slick-dots button {
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.slick-active button {
  background-color: #fff;
}
.banner-section__slider-img {
  object-fit: cover;
  min-height: 40px;
}
.sale-item {
  text-align: center;
  max-width: 265px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sale-item__info {
  color: #fff;
  background-color: var(--accent-color);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding: 8px 20px;
}
.sale-item__price {
  text-align: right;
}
.price {
  font-family: "Barlow", sans-serif;
  position: relative;
}
.sale-item__price-new {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: var(--accent-color);
  margin-right: 6px;
  padding-right: 20px;
  position: relative;
}
.sale-item__price-new::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 18px;
  top: 8px;
  right: 0;
  background-image: url(../images/icons-price.svg);
}
.sale-item__price-old {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  margin-right: 15px;
  background-image: url(../images/old-line.svg);
  background-repeat: no-repeat;
  display: inline-block;
  padding: 2px 5px;
}
.sale-item__price-old::after {
  content: "";
  position: absolute;
  background-image: url(../images/icons-price-old.svg);
  width: 8px;
  height: 10px;
  right: -10px;
  top: 6px;
}
.sale-item__img {
  object-fit: contain;
  max-width: fit-content;
  margin: 0 auto;
}
.sale-item__title {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 7px;
}
.sale-item__footer {
  background-color: #f0f0f4;
  font-size: 18px;
  line-height: 22px;
  padding: 25px 20px 26px;
}
.sale-item__footer span {
  color: var(--accent-color);
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  display: block;
  margin-top: 4px;
}
.search {
}
.page-section {
}
.container {
}
.search__inner {
}
.search__tabs {
  margin-bottom: 25px;
}
.search__tabs-item {
  padding: 11px 26px 12px;
}
.search__tabs-item--active {
  border-radius: 5px;
  background-color: #f0f0f4;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}
.search__content-item {
    display: none;
}
.search__content-item--active{
    display: block;
}
.search__content {
}
.search__content-form {
  display: flex;
}
.search__content-input {
  padding: 15px 20px;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #f0f0f4;
  border-radius: 3px;
  border: none;
  width: 100%;
}
.search__content-input::placeholder {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #656464;
}
.search__content-btn {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: #fff;
  padding: 17px 40px 16px;
  border-radius: 3px;
  letter-spacing: 0.12em;
  border: none;
margin-left: -3px;
}
